# Modified from https://github.com/biocore/biom-format/
language: python
env:
  - PYTHON_VERSION=2.7 NUMPY_VERSION=1.7
before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-2.2.2-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/anaconda/bin:$PATH
  # Update conda itself
  - conda update --yes conda
install:
  - conda create --yes -n env_name python=$PYTHON_VERSION pip numpy=$NUMPY_VERSION scipy matplotlib nose pep8 Sphinx
  - source activate env_name
  - pip install sphinx-bootstrap-theme future coveralls natsort pyflakes flake8 python-dateutil scikit-bio
  - pip install -e . --no-deps
script:
  - if [ ${WITH_DOCTEST} ]; then PYTHONWARNINGS=ignore nosetests --with-doctest --with-coverage -I DONOTIGNOREANYTHING; else PYTHONWARNINGS=ignore nosetests --with-coverage -I DONOTIGNOREANYTHING; fi
  - pep8 tax2tree setup.py
  - flake8 tax2tree setup.py
  - pushd doc
  - make clean
  - make html
  - popd
  - t2t --version
after_success:
  - coveralls
