# Modified from https://github.com/biocore/biom-format/
language: python
env:
  - PYTHON_VERSION=2.7
before_install:
  - wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh
  - export MINICONDA_PREFIX="$HOME/miniconda"
  - bash miniconda.sh -b -p $MINICONDA_PREFIX
  - export PATH="$MINICONDA_PREFIX/bin:$PATH"
  # Update conda itself
  - conda config --set always_yes yes
  - conda update -q conda
  - conda info -a
install:
  - conda create --yes -n env_name python=$PYTHON_VERSION pip numpy scipy matplotlib nose pep8 Sphinx
  - source activate env_name
  - pip install future coveralls natsort pyflakes flake8 python-dateutil scikit-bio==0.4.2 click
  - pip install -e . --no-deps
script:
  - if [ ${WITH_DOCTEST} ]; then PYTHONWARNINGS=ignore nosetests --with-doctest --with-coverage -I DONOTIGNOREANYTHING; else PYTHONWARNINGS=ignore nosetests --with-coverage -I DONOTIGNOREANYTHING; fi
  - pep8 t2t setup.py
  - flake8 t2t setup.py
  - t2t --version
after_success:
  - coveralls
